h3 {
    font-size: 24px;
}
/* Oculta los demás elementos cuando el mapa está en fullscreen */
.hidden {
    display: none;
}

/* Transiciones suaves */
#mapa {
    transition: all 0.3s ease;
}
#header-container nav{
    background: var(--v3-blanco);
}
/* Contenedor principal de Airflow */
#container-airflow{
    display: flex;
    flex-direction: row; /* Flexbox en fila */
    /*margin-top: 15vh; /* Margen superior del 15% de la altura de la ventana */
    height: 100vh; /* Altura del contenedor al 100% de la altura de la ventana */
    border: none; /* Sin borde */
    gap: 10px; /* Espacio entre elementos flexibles */
    /*padding-inline: 2vw; /* Relleno interno horizontal del 2% del ancho de la ventana */
}

/* Estilos para el mapa */
#container-airflow #mapa{
    background: var(--v3-negro); /* Fondo negro */
    /*border-radius: 48px; /* Bordes redondeados */
    flex: 1; /* Toma el 60% del espacio flexible */
    border: none; /* Sin borde */
    width: 100%;
    height: 100%;
    z-index: 1000; /* Asegura que el mapa esté encima del resto */
    position: relative; /* Base para elementos superpuestos */
}
/* Columna de contenido adicional */
#container-airflow #columna{
    display: block;
    flex-direction: column; /* Flexbox en columna */
    /*flex: 0.4; /* Toma el 40% del espacio flexible */
    border: none; /* Sin borde */
    gap: 10px; /* Espacio entre elementos flexibles */
    width: 40%;
}

/* Estilos para los elementos dentro de la columna */
#container-airflow #columna>div{
    background: var(--v3-blanco); /* Fondo blanco */
    border-radius: 48px; /* Bordes redondeados */
    border: none; /* Sin borde */
    padding: 15px; /* Relleno interno de 15 píxeles */
}
.leaflet-control-zoom {
    position: absolute;
    bottom: 20px; /* Espacio desde la parte inferior */
    right: 20px;   /* Espacio desde el borde izquierdo */
}

/* Sección de características */
#container-airflow #características {
    position: absolute; /* Hace que el div esté encima del mapa */
    top: 10px;          /* Separa el div del borde superior */
    left: 10px;         /* Separa el div del borde izquierdo */
    z-index: 1001;      /* Asegura que esté encima del mapa */
    background-color: rgba(82, 204, 215, 0.9); /* Fondo blanco translúcido */
    padding: 15px;      /* Espaciado interno para mejor apariencia */
    border-radius: 48px; /* Esquinas redondeadas */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
    margin-top: 12vh;
    width: 30%;
}

/* Estilos para los inputs dentro de características */
#container-airflow #características input{
    background: none; /* Sin fondo */
    border: 2px solid var(--v3-blanco); /* Borde de 2 píxeles blanco */
    border-radius: 36px; /* Bordes redondeados */
    padding: 10px; /* Relleno interno de 10 píxeles */
    max-height: 44px; /* Altura máxima de 44 píxeles */
}

/* Estilos para los placeholders de los inputs */
#container-airflow #características input::placeholder{
    color: var(--v3-blanco); /* Color del texto placeholder blanco */
}

/* Contenedor de buscador dentro de características */
#container-airflow #características #buscador-container{
    max-height: 80px; /* Altura máxima de 80 píxeles */
    display: flex;
    flex-direction: row; /* Flexbox en fila */
    align-items: center; /* Alineación de elementos centrada verticalmente */
    position: relative; /* Posición relativa para elementos internos */
    gap: 20px; /* Espacio entre elementos flexibles */
}

/* Posiciona el icono dentro del input de búsqueda */
#container-airflow #características #buscador-container i {
    position: absolute; /* Posición absoluta dentro del contenedor */
    right: 35px; /* A 35 píxeles del borde derecho */
    top: 50%; /* Centrando verticalmente */
    transform: translateY(-50%); /* Ajustando para centrar completamente */
    color: var(--v3-blanco); /* Color del icono blanco */
    font-size: 20px; /* Tamaño de fuente del icono */
}

/* Estilos para la imagen dentro del buscador */
#container-airflow #características #buscador-container img{
    max-width: 75px; /* Ancho máximo de 75 píxeles */
    max-height: 60px; /* Altura máxima de 60 píxeles */
}

/* Estilos para los inputs dentro del contenedor de buscador */
#container-airflow #características #buscador-container input{
    border: none; /* Sin borde */
    border-bottom: 2px solid var(--v3-blanco); /* Borde inferior de 2 píxeles blanco */
    border-radius: 0; /* Sin bordes redondeados */
}

/* Iconos de transporte dentro de características */
#container-airflow #características #iconos-transporte {
    font-size: 25px; /* Tamaño de fuente de 25 píxeles */
    display: flex;
    flex-direction: row; /* Flexbox en fila */
    gap: 10px; /* Espacio entre elementos flexibles */
    color: var(--v3-blanco); /* Color blanco para los iconos */
}

/* Contenedor de rutas dentro de características */
#container-airflow #características #container-rutas #puntos-ruta{
    display: flex;
    flex-direction: column; /* Flexbox en columna */
    gap: 10px; /* Espacio entre elementos flexibles */
}

/* Estilos para los divs dentro de puntos de ruta */
#container-airflow #características #container-rutas #puntos-ruta>div{
    display: flex;
    position: relative; /* Posición relativa para elementos internos */
}

/* Posiciona los iconos dentro de los puntos de ruta */
#container-airflow #características #container-rutas #puntos-ruta i {
    position: absolute; /* Posición absoluta dentro del contenedor */
    right: 35px; /* A 35 píxeles del borde derecho */
    top: 50%; /* Centrando verticalmente */
    transform: translateY(-50%); /* Ajustando para centrar completamente */
    color: var(--v3-blanco); /* Color del icono blanco */
    font-size: 20px; /* Tamaño de fuente del icono */
}

/* Sección de gráfica */
#gráfica{
    display: none;
    flex-direction: column;
    height: 45%;
    position: absolute;
    z-index: 1001;
    bottom: 10px;
    left: 10px;
    background-color: var(--v3-blanco);
    width: 30%;
    border-radius: 48px;
    padding: 15px;
}
#ozoneChart{
    display: block;
    width: 100%;
    height: 100%;
}

/* Contenedor del indicador de la gráfica */
#gráfica #indicador-gráfica{
    display: flex;
    flex-direction: row; /* Flexbox en fila */
    justify-content: space-evenly; /* Espacio igual entre elementos */
    align-items: center; /* Alineación de elementos centrada verticalmente */
    max-height: 60px; /* Altura máxima de 60 píxeles */
}

/* Estilos para el segundo párrafo dentro de texto-indicador */
#gráfica #indicador-gráfica #texto-indicador p:nth-child(2){
    color: var(--v3-rosa-excelente); /* Color rosa excelente */
}

/* Estilos generales para párrafos dentro de indicador de gráfica */
#gráfica #indicador-gráfica p{
    margin-bottom: unset; /* Sin margen inferior */
}

/* Estilos para las imágenes dentro de indicador de gráfica */
#gráfica #indicador-gráfica img{
    max-height: 60px; /* Altura máxima de 60 píxeles */
    max-width: 60px; /* Ancho máximo de 60 píxeles */
}

/* Estilos para las imágenes dentro de indicador de gráfica */
#container-airflow #mapa img{
    width: 100%;
    height: 100%;
}
#botones-mapa{
    position: absolute;
    z-index: 1001;
    bottom: 2vw;
    right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
#botones-mapa>button{
    border: none;
}
#botones-mapa>button#consultar-medición{
    width: 75%;
}
#botones-mapa>button#cancelar-consulta{
    width: 75%;
}
#botones-mapa #centrar-ubicacion{
    font-size: 30px;
    border-radius: 70px;
    aspect-ratio: 1/1;
    border: none;
    background: var(--v3-azul);
    color: var(--v3-blanco);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
#botones-mapa #cancelar-consulta{
    display: none;
}
#zoom-botones{
    display: flex;
    flex-direction: column;
    background: var(--v3-blanco);
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-inline: 3px;
}
#botones-mapa #zoom-botones a{
    font-size: 50px;
    text-decoration: none;
    color: var(--v3-azul);
}
#botones-mapa #zoom-botones a:nth-child(1){
    border-radius: 5px 5px 0 0;
}
#botones-mapa #zoom-botones a:nth-child(2){
    border-radius: 0 0 5px 5px;
}
#botones-mapa #zoom-botones a:hover{
    color: var(--v3-blanco);
    background: var(--v3-azul);
}
.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    width: fit-content;
}

.custom-marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url("../img/a-airflow.png");
}
.custom-marker.peligroso {
    background-color: red;
}

.custom-marker.malo {
    background-color: var(--v3-naranja-mala);
}

.custom-marker.moderado {
    background-color: var(--v3-amarillo-media);
}

.custom-marker.bueno {
    background-color: var(--v3-verde-bueno);
}

.custom-marker.excelente {
    background-color: var(--v3-rosa-excelente);
}