h3 {
    font-size: 24px;
}

#container-salud{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-top: 13vh;
    gap: 10px;
    padding-inline: 2vw; /* Relleno interno horizontal del 2% del ancho de la ventana */
    padding-bottom: 2vw;
}

#container-salud #main-salud{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 70%;
    height: 100%;
    gap: 10px;
}

#container-salud #main-salud>div{
    background: var(--v3-blanco);
    border-radius: 48px;
    /*padding: 25px;*/
}

#container-salud #main-salud>div#info-salud{
    height: 70%;
}

#container-salud #main-salud>div#info-salud .scroll-y{
    max-height: 100%; /* Altura máxima según la ventana */
    min-height: 100%;
    overflow-y: auto;
}
/* Ocultar la barra de scroll solo en navegadores Webkit (Chrome, Safari) */
#container-salud #main-salud>div#info-salud .scroll-y::-webkit-scrollbar {
    display: none;
}

#container-salud #main-salud>div#info-salud .grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
    grid-template-rows: repeat(3, 1fr); /* 3 filas iguales */
    gap: 10px;
    flex: 1;
}

#container-salud #main-salud>div#info-salud .grid div{
    border-radius: 24px;
    background: white;
    justify-items: center;
    padding-inline: 10px;
    color: var(--v3-blanco);
    align-content: space-around;
}

#container-salud #main-salud>div#info-salud .grid>div>p:nth-child(1){
    font-size: 13px;
}

#container-salud #main-salud>div#info-salud .grid>div>p:nth-child(2){
    font-size: 14px;
    font-style: oblique;
}

#container-salud #main-salud>div#info-salud .grid>div h5{
    font-size: 20px;
    font-weight: 700;
}
#container-salud #main-salud>div#info-salud .grid div.excelente{
    background: var(--v3-rosa-excelente);
}

#container-salud #main-salud>div#info-salud .grid div.buena{
    background: var(--v3-verde-bueno);
}

#container-salud #main-salud>div#info-salud .grid div.media{
    background: var(--v3-amarillo-media);
    color: var(--v3-negro);
}

#container-salud #main-salud>div#info-salud .grid div.mala{
    background: var(--v3-naranja-mala);
}

#container-salud #main-salud>div#info-salud .grid div.peligrosa{
    background: red;
}

#container-salud #main-salud>div#exposición{
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container-salud #main-salud #exposición>div{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
}

#container-salud #main-salud>div#exposición .expo-nivel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container-salud #main-salud>div#exposición .expo-nivel img{
    max-height: 50px;
    max-width: 50px;
}

#container-salud #main-salud>div#exposición p{
    margin-bottom: unset;
}

#container-salud #lado{
    height: 100%;
    border-radius: 48px;
    /*flex: 0.3;*/
}

#container-salud #lado img{
    max-height: 100%;
}


@media (max-width: 1105px) {
    #container-salud #main-salud>div#info-salud .grid{
        grid-template-columns: repeat(3, 1fr); /* 5 columnas iguales */
        grid-template-rows: repeat(5, 1fr); /* 3 filas iguales */
    }
}

@media (max-width: 963px) {
    #container-salud #main-salud{
        width: 60%;
    }
    #container-salud #lado{
        display: block;
    }
    #container-salud #main-salud>div#info-salud .grid{
        grid-template-columns: repeat(3, 1fr); /* 5 columnas iguales */
        grid-template-rows: repeat(5, 1fr); /* 3 filas iguales */
    }
}

#lado {
    background-color: var(--v3-blanco);
    background-image: url("../img/calendario.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
}
#lado h3{
    color: var(--v3-negro);
    position: absolute;
    top: 30px;
    left: 40px;
}
#lado #calendario{
    margin-top: 5vw;
}
#navegacion header {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navegacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#navegacion button {
    background: none;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#navegacion button:disabled{
    color: var(--v3-gris);
}
#dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    gap: 0.5vw;
}

#dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 días por fila */
    grid-template-rows: repeat(6, 1fr); /* Siempre 6 filas */
    height: 300px; /* Altura fija para mantener proporciones constantes */
    align-items: stretch;
    justify-items: stretch;
}
#dias .disabled {
    background: gray; /* Cambia el color para indicar deshabilitado */
    pointer-events: none; /* Desactiva los clics */
    opacity: 0.5; /* Reduce la opacidad */
}


#dias span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 10px 10px;
    background-color: #2c2c2c; /* Fondo por defecto */
    color: #fff; /* Color del texto */
    cursor: pointer;
}

#dias span[data-status="excelente"] {
    background-color: #ff67d0;
}

#dias span[data-status="bueno"] {
    background-color: #4cd137;
}

#dias span[data-status="moderado"] {
    background-color: #fbc531;
}

#dias span[data-status="malo"] {
    background-color: #e84118;
}

#dias span.seleccionado {
    background-color: var(--v3-azul); /* Color resaltado para el día seleccionado */
    color: var(--v3-blanco);
    font-weight: bold;
    border: 2px solid var(--v3-blanco);
}

#mapa{
    height: 100%;
    border-radius: 48px;
}
.leaflet-top{
    display: none;
}
#mes-actual{
    font-size: 25px;
}

