ul {
       list-style: none;
       padding-left: unset;
       height: 100%;
}
#section-especificaciones #especificaciones{
    height: auto;
}
#section-especificaciones #especificaciones #especificaciones-container .colum{
    width: 30%;
}
.texto-info{
    width: 100%;
}
.texto-info>div{
    display: none;
    max-height: fit-content;
}
.texto-info>div ul{
    height: fit-content;
}
.texto-info>div.div-activo{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    grid-template-rows: auto auto auto; /* 3 filas */
    gap: 10px; /* Ajusta el espacio entre los elementos si lo necesitas */
    flex: 1; /* Asegura que el contenedor ocupe el espacio disponible */
}
.colum ul li {
    height: 25%;
}

.colum ul li div.activo {
    color: var(--v3-azul);
    border: 4px solid var(--v3-azul);
    border-radius: 48px;
}

.colum ul li > div {
    display: flex;
    flex-direction: row;
    max-height: 120px;
    align-items: center;
    padding: 10px;
}

.colum ul li > div img {
    max-width: 90px; /* Asegura que la imagen no exceda el tamaño del contenedor */
    max-height: 87.65px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 12px;
    text-align: center;
    justify-content: space-around;
}
.colum ul li > div div p{
    margin-bottom: unset;
}
.list img{
    max-height: 90px;
}

