/* Estilo de los encabezados */
h3 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

/* Contenedor principal del perfil */
.container-perfil {
    margin-top: 13vh;
    display: flex;
    flex-direction: row;
    /*height: 100vh;*/
    gap: 10px;
    padding: 15px;
}

/* Grid principal */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    grid-template-rows: fit-content(60%) auto;
    gap: 10px; /* Ajusta el espacio entre los elementos si lo necesitas */
    flex: 0.70;
}

.grid > div {
    background: var(--v3-blanco);
    border-radius: 48px;
    padding: 25px;
}

/* Contenedor de columna */
.colum {
    display: flex;
    flex-direction: column;
    background: var(--v3-blanco);
    border-radius: 48px;
    flex: 0.30;
}
/* Datos envío */
#datos-envio{
    display: flex;
    flex-direction: column;
    position: relative;
}

#datos-envio p{
    font-size: 20px;
    color: var(--gris-texto);
}

#datos-envio button{
    border: none;
}
/* Notificaciones */
#notificaciones{
    padding: 25px;
    position: relative;
    color: var(--gris-texto);
}

#notificaciones h3{
    color: var(--v3-negro);
}

#notificaciones>img{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 90px;
}

#notificaciones div{
    display: flex;
    flex-direction: column;
}

#notificaciones div ul{
    display: flex;
    flex-direction: row;
    margin: unset;
    gap: 20px;
}

#notificaciones div ul li{
    width: fit-content;
}

#notificaciones ul{
    list-style: none;
    padding: unset;
}

#notificaciones ul li{
    display: flex;
    flex-direction: row;
    max-height: 33px;
    align-items: center;
    gap: 20px;
}

#notificaciones ul li img{
    max-height: 30px;
}

#notificaciones ul li p{
    margin-bottom: unset;
    font-size: 20px;
    width: 90px;
}

#historial-compra>div{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#historial-compra>div>div{
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}
#historial-compra>div>img{
    max-width: 157px;
    border-radius: 48px;
}

#mis-sensores .scroll-y>div{
    display: flex;
    flex-direction: row;
    max-height: 55px;
    gap: 15px;
    justify-content: space-between;
}

#mis-sensores .scroll-y>div div{
    display: flex;
    flex-direction: column;
}

#mis-sensores .scroll-y>div .mini-foto-sensor {
    width: 20%;
    font-size: 40px;
}

#mis-sensores .scroll-y>div .bateria-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Datos del perfil */
#datos-perfil {
    height: 50%;
    padding-inline: 25px;
    padding-top: 25px;
}

#datos-perfil h3 {
    margin-bottom: unset;
}

#datos-perfil #datos-perfil-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#datos-perfil #datos-perfil-child #foto-perfil {
    background: #444444;
    border-radius: 100px;
    height: 120px;
    width: 120px;
}

#datos-perfil #datos-perfil-child table {
    margin-top: unset;
    border: none;
}

#datos-perfil #datos-perfil-child table td,
#datos-perfil #datos-perfil-child table th {
    padding: unset;
    background: none;
    border: none;
}

/* Scroll y leaderboard */
.scroll-y {
    max-height: 240px; /* Ajusta según el tamaño que necesites */
    overflow-y: auto;
}

.scroll-y{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.colum #leaderboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding-inline: 25px;
    padding-bottom: 25px;
}

.colum #leaderboard h3 {
    margin-bottom: unset;
}
.colum #leaderboard div p{
    font-size: 15px;
}

.colum #leaderboard #tu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background: var(--v3-azul);
    border-radius: 48px;
    padding: 10px; /* Añadido padding para mejor visualización */
}

.colum #leaderboard .scroll-y > div {
    display: flex;
    flex-direction: row;
    max-height: 55px;
    gap: 15px;
    justify-content: space-between;
}

.colum #leaderboard > div .mini-perfil-leaderboard {
    width: 20%;
    font-size: 40px;
}

.colum #leaderboard > div .leaderboard-nombres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: -webkit-fill-available;
}

.colum #leaderboard > div .leaderboard-nombres h5 {
    margin-bottom: unset;
}

.colum #leaderboard > div .leaderboard-nombres p {
    margin-bottom: unset;
}

.colum #leaderboard > div .leaderboard-rank {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colum #leaderboard > div .leaderboard-rank p{
    margin-bottom: unset;
}

.colum #leaderboard > div .leaderboard-rank img {
    max-height: 20px;
}

/* Estilos de la barra de scroll */
/* Estilo general para la scrollbar */
.scroll-y::-webkit-scrollbar {
    width: 10px; /* Ancho de la scrollbar */
}

/* Estilo del fondo de la scrollbar */
.scroll-y::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de la barra */
.scroll-y::-webkit-scrollbar-thumb {
    background: var(--v3-azul); /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de la barra al pasar el cursor por encima */
.scroll-y::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra al pasar el cursor por encima */
}
@media (max-width: 1236px) {

    #notificaciones div{
        flex-direction: row;
    }
    #notificaciones div ul {
        flex-direction: column;
        gap: 5px;
        font-size: 13px;
    }
}
@media (max-width: 780px) {
    .container-perfil{
        flex-direction: column;
        gap: 10px;
    }
    .container-perfil .colum{
        flex: 1;
    }
    .container-perfil .grid{
        display: flex;
        flex-direction: column;
        flex: 1;
        order: 2;
    }
   .container-perfil #datos-perfil #datos-perfil-child #foto-perfil{
       height: 80px;
       width: 80px;
   }
}
